In [17]:
# import packages
import pandas as pd 
import numpy as np
import tabula
import io

# let's configure python to display to 1 decimpal places
pd.set_option("display.precision", 2)

# conigure pandas to display all columns so we can view the whole dataset
pd.set_option("display.max.columns", None)

In [72]:
# set file using the link to the Gov website data
file = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/754946/COI_Report_2017.pdf"

In [85]:
# import table using tabula
table = tabula.read_pdf(file, pages = 5, encoding= 'latin-1', guess = "False")
df = table[0]
df

      0      Food and live animals  55.1  32.4  9.5  0.6   2.4  11,441
0   1.0      Beverages and tobacco  17.8  63.5  7.2  0.1  11.4   1,586
1   NaN           Crude materials,   NaN   NaN  NaN  NaN   NaN     NaN
2   2.0                        NaN  65.1  23.2  4.3  4.4   3.1   4,628
3   NaN     inedible, except fuels   NaN   NaN  NaN  NaN   NaN     NaN
4   NaN  Mineral fuels, lubricants   NaN   NaN  NaN  NaN   NaN     NaN
5   3.0                        NaN  86.9  10.5  0.0  0.0   2.6  31,244
6   NaN      and related materials   NaN   NaN  NaN  NaN   NaN     NaN
7   NaN       Animal and vegetable   NaN   NaN  NaN  NaN   NaN     NaN
8   4.0                        NaN  94.2   3.2  1.6  0.0   1.0     483
9   NaN       oils, fats and waxes   NaN   NaN  NaN  NaN   NaN     NaN
10  NaN      Chemicals and related   NaN   NaN  NaN  NaN   NaN     NaN
11  5.0    products, not elsewhere  60.1  25.0  9.9  0.2   4.8  14,843
12  NaN                  specified   NaN   NaN  NaN  NaN   NaN     NaN
13  NaN         Manufactured goods   NaN   NaN  NaN  NaN   NaN     NaN
14  6.0      classified chiefly by  68.9  23.1  5.2  0.2   2.6  22,838
15  NaN                   material   NaN   NaN  NaN  NaN   NaN     NaN
16  NaN              Machinery and   NaN   NaN  NaN  NaN   NaN     NaN
17  7.0                        NaN  66.0  22.6  7.5  0.4   3.6  75,881
18  NaN        transport equipment   NaN   NaN  NaN  NaN   NaN     NaN
19  NaN              Miscellaneous   NaN   NaN  NaN  NaN   NaN     NaN
20  8.0                        NaN  61.0  31.2  4.1  0.2   3.5  42,684

In [89]:
# file name
file = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/754946/COI_Report_2017.pdf"

# import table using tabula
table = tabula.read_pdf(file, pages = 5, encoding= 'latin-1', guess = "False", pandas_options={'header': None})
df = table[0]
df

      0                          1     2     3    4    5     6       7
0   0.0      Food and live animals  55.1  32.4  9.5  0.6   2.4  11,441
1   1.0      Beverages and tobacco  17.8  63.5  7.2  0.1  11.4   1,586
2   NaN           Crude materials,   NaN   NaN  NaN  NaN   NaN     NaN
3   2.0                        NaN  65.1  23.2  4.3  4.4   3.1   4,628
4   NaN     inedible, except fuels   NaN   NaN  NaN  NaN   NaN     NaN
5   NaN  Mineral fuels, lubricants   NaN   NaN  NaN  NaN   NaN     NaN
6   3.0                        NaN  86.9  10.5  0.0  0.0   2.6  31,244
7   NaN      and related materials   NaN   NaN  NaN  NaN   NaN     NaN
8   NaN       Animal and vegetable   NaN   NaN  NaN  NaN   NaN     NaN
9   4.0                        NaN  94.2   3.2  1.6  0.0   1.0     483
10  NaN       oils, fats and waxes   NaN   NaN  NaN  NaN   NaN     NaN
11  NaN      Chemicals and related   NaN   NaN  NaN  NaN   NaN     NaN
12  5.0    products, not elsewhere  60.1  25.0  9.9  0.2   4.8  14,843
13  NaN                  specified   NaN   NaN  NaN  NaN   NaN     NaN
14  NaN         Manufactured goods   NaN   NaN  NaN  NaN   NaN     NaN
15  6.0      classified chiefly by  68.9  23.1  5.2  0.2   2.6  22,838
16  NaN                   material   NaN   NaN  NaN  NaN   NaN     NaN
17  NaN              Machinery and   NaN   NaN  NaN  NaN   NaN     NaN
18  7.0                        NaN  66.0  22.6  7.5  0.4   3.6  75,881
19  NaN        transport equipment   NaN   NaN  NaN  NaN   NaN     NaN
20  NaN              Miscellaneous   NaN   NaN  NaN  NaN   NaN     NaN
21  8.0                        NaN  61.0  31.2  4.1  0.2   3.5  42,684

In [90]:

table_column_names = ['SITC_code', 'SITC_section', 'USD', 'GBP', 'EUR', 'CAD', 'OTHER', 'total_trade']
# set column names
df = df.set_axis(table_column_names, axis=1, inplace=False)
df

C:\Users\lucel\AppData\Local\Temp\ipykernel_8356\1544734353.py:3: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df = df.set_axis(table_column_names, axis=1, inplace=False)

,SITC_code,SITC_section,USD,GBP,EUR,CAD,OTHER,total_trade
0,0.0,Food and live animals,55.1,32.4,9.5,0.6,2.4,"11,441"
1,1.0,Beverages and tobacco,17.8,63.5,7.2,0.1,11.4,"1,586"
2,NaN,"Crude materials,",NaN,NaN,NaN,NaN,NaN,NaN
3,2.0,NaN,65.1,23.2,4.3,4.4,3.1,"4,628"
4,NaN,"inedible, except fuels",NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,"Mineral fuels, lubricants",NaN,NaN,NaN,NaN,NaN,NaN
6,3.0,NaN,86.9,10.5,0.0,0.0,2.6,"31,244"
7,NaN,and related materials,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Animal and vegetable,NaN,NaN,NaN,NaN,NaN,NaN
9,4.0,NaN,94.2,3.2,1.6,0.0,1.0,483
10,NaN,"oils, fats and waxes",NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Chemicals and related,NaN,NaN,NaN,NaN,NaN,NaN
12,5.0,"products, not elsewhere",60.1,25.0,9.9,0.2,4.8,"14,843"
13,NaN,specified,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Manufactured goods,NaN,NaN,NaN,NaN,NaN,NaN
15,6.0,classified chiefly by,68.9,23.1,5.2,0.2,2.6,"22,838"
16,NaN,material,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Machinery and,NaN,NaN,NaN,NaN,NaN,NaN
18,7.0,NaN,66.0,22.6,7.5,0.4,3.6,"75,881"
19,NaN,transport equipment,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Miscellaneous,NaN,NaN,NaN,NaN,NaN,NaN
21,8.0,NaN,61.0,31.2,4.1,0.2,3.5,"42,684"

In [ ]:
# clean table to solve issues associated with importing PDFs that spill over multiple lines and create new rows
for row in range(len(df)-1, -1, -1):
    NoFinalColumn = pd.isnull(df.iloc[: , -1].iloc[row]) # work out if the final column is NA or contains a value
    YesFirstColumn = pd.notnull(df.iloc[:,0].iloc[row]) # work out if the first column is NA or contains a value
    PrevRow = row - 1
    if NoFinalColumn and YesFirstColumn:
        df.iloc[:,0].iloc[PrevRow] = '{0}{1}'.format(df.iloc[:,0].iloc[PrevRow],df.iloc[:,0].iloc[row] )
df = df[table_column_names]
df = df.dropna(thresh=df.shape[1] - 2 + 1)

In [50]:
# define a function to import and clean a PDF table from a link, a defined page number and set column names
def ImportCurrencyInvoicePDF(link, page_number, table_column_names):
    
    # set file using the link to the Gov website data
    file = link
    
    # import table using tabula
    table = tabula.read_pdf(file, pages = page_number, encoding= 'unicode_escape')
    df = table[0]
    
    # set column names
    df = df.set_axis(table_column_names, axis=1, inplace=False)
    
    # clean table to solve issues associated with importing PDFs that spill over multiple lines and create new rows
    for row in range(len(df)-1, -1, -1):
        NoFinalColumn = pd.isnull(df.iloc[: , -1].iloc[row]) # work out if the final column is NA or contains a value
        YesFirstColumn = pd.notnull(df.iloc[:,0].iloc[row]) # work out if the first column is NA or contains a value
        PrevRow = row - 1
        if NoFinalColumn and YesFirstColumn:
            df.iloc[:,0].iloc[PrevRow] = '{0}{1}'.format(df.iloc[:,0].iloc[PrevRow],df.iloc[:,0].iloc[row] )
    df = df[table_column_names]
    df = df.dropna(thresh=df.shape[1] - 2 + 1)
    
    return(df)

In [55]:
# Non-EU Imports 2014
df = ImportCurrencyInvoicePDF(link = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/462845/COI_Report_2014.pdf",
                              page_number = 4,
                              table_column_names = ['SITC_section', 'USD', 'GBP', 'EUR', 'CAD', 'OTHER', 'total_trade'])
df.insert(0,'year','')
df['year'] = 2014
nonEU_Imports_2014 = df
df

C:\Users\lucel\AppData\Local\Temp\ipykernel_8356\2972012320.py:12: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df = df.set_axis(table_column_names, axis=1, inplace=False)

,year,SITC_section,USD,GBP,EUR,CAD,OTHER,total_trade
4,2014,0 Food and live animals,53.6,33.4,9.8,0.9,2.3,"9,704"
5,2014,1 Beverages and tobacco,21.4,56.4,4.0,0.2,18.1,"1,396"
6,2014,"2 Crude materials, inedible,except fuels",62.3,28.0,4.2,3.5,1.9,"5,016"
8,2014,"3 Mineral fuels, lubricants andrelated materials",90.0,10.0,0.0,0.0,0.0,"37,835"
10,2014,"4 Animal and vegetable oils, fatsand waxes",92.5,3.8,2.1,0.4,1.2,358
12,2014,"5 Chemicals and relatedproducts, not elsewhere...",57.3,27.9,9.1,1.3,4.5,"12,412"
15,2014,6 Manufactured goods classifiedchiefly by mate...,66.2,24.3,5.3,0.1,4.1,"19,078"
17,2014,7 Machinery and transportequipment,60.0,24.9,10.0,0.5,4.5,"59,129"
19,2014,8 Miscellaneous manufacturedarticles,58.9,32.7,4.9,0.2,3.4,"39,492"
21,2014,9 Commodities and transactionsnot classified e...,75.6,1.1,0.1,21.7,1.5,"14,696"
24,2014,Total,66.6,22.7,5.6,2.0,3.1,"199,115"

In [56]:
# Non-EU Exports 2014
df = ImportCurrencyInvoicePDF(link = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/462845/COI_Report_2014.pdf",
                              page_number = 6,
                              table_column_names = ['SITC_code', 'SITC_section', 'GBP', 'USD', 'EUR', 'JPY', 'OTHER', 'total_trade'])
df.insert(0,'year','')
df['year'] = 2014
nonEU_Exports_2014 = df
df

C:\Users\lucel\AppData\Local\Temp\ipykernel_8356\2972012320.py:12: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df = df.set_axis(table_column_names, axis=1, inplace=False)

,year,SITC_code,SITC_section,GBP,USD,EUR,JPY,OTHER,total_trade
4,2014,0,Food and live animals,66.2,18.2,11.3,0.1,4.2,"3,421"
5,2014,1,Beverages and tobacco,49.5,33.8,2.5,0.7,13.6,"4,069"
6,2014,2,"Crude materials, inedible,",58.1,40.2,1.6,0.0,0.1,"3,654"
8,2014,3,"Mineral fuels, lubricants and",76.0,23.8,0.2,0.0,0.0,"7,662"
10,2014,4,"Animal and vegetable oils, fats",70.6,14.8,13.2,0.0,1.5,59
12,2014,5,Chemicals and related,43.7,42.3,4.5,0.9,8.7,"20,657"
15,2014,6,Manufactured goods classified,57.2,35.5,5.9,0.2,1.2,"13,492"
17,2014,7,Machinery and transport,56.7,36.2,4.1,0.4,2.7,"63,623"
19,2014,8,Miscellaneous manufactured,64.2,28.4,2.4,1.0,3.9,"20,602"
21,2014,9,Commodities and transactions,59.9,40.1,0.0,0.0,0.0,"26,339"
24,2014,Total,NaN,57.5,35.6,3.3,0.4,3.2,"163,579"

In [59]:
# Non-EU Imports 2015
df = ImportCurrencyInvoicePDF(link = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/555835/COI_Report_2015_v1.0.pdf",
                              page_number = 4,
                              table_column_names = ['SITC_code', 'SITC_section', 'USD', 'GBP', 'EUR', 'CAD', 'OTHER', 'total_trade'])
df.insert(0,'year','')
df['year'] = 2015
nonEU_Imports_2015 = df
df

C:\Users\lucel\AppData\Local\Temp\ipykernel_8356\2972012320.py:12: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df = df.set_axis(table_column_names, axis=1, inplace=False)
C:\Users\lucel\AppData\Local\Temp\ipykernel_8356\2972012320.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[:,0].iloc[PrevRow] = '{0}{1}'.format(df.iloc[:,0].iloc[PrevRow],df.iloc[:,0].iloc[row] )

,year,SITC_code,SITC_section,USD,GBP,EUR,CAD,OTHER,total_trade
0,2015,1.02.0,Beverages and tobacco,22.6,57.4,2.1,0.2,17.7,"1,418"
2,2015,nannan3.0,NaN,63.4,27.7,4.1,2.9,1.9,"4,358"
5,2015,nannan4.0,NaN,83.7,16.3,0.0,0.0,0.0,"25,650"
8,2015,nannan5.0,NaN,93.6,3.3,1.5,0.3,1.3,348
11,2015,nannan6.0,"products, not elsewhere",61.3,24.9,8.7,0.3,4.9,"13,636"
14,2015,nannan7.0,NaN,68.0,24.1,5.1,0.2,2.8,"18,812"